{% extends "./base.html" %}
{% block title %} Gestionar Ciclos {% endblock %}

{% block section %}

<div class="container-fluid">
    <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> ADMIN <small>GESTIONAR CICLO</small></h1>
    </div>
    <p class="lead">Panel de Administración dedicado a la gestión de ciclos académicos, podrás agregar fácilmente los cursos que pertenecen al ciclo de manera rápida y sencilla. </p>
</div>

<div class="container-fluid">
    <ul class="breadcrumb breadcrumb-tabs">
        <li>
            <a href="{{ '/admin-gestionar-ciclo/' }}" class="btn btn-info">
                <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO CICLO
            </a>
        </li>
        <li>
            <a href="{{ '/lista-gestionar-ciclo/' }}" class="btn btn-success">
                <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE CICLO
            </a>
        </li>
        <li>
            <a href="{{ '/buscar-gestionar-ciclo/' }}" class="btn btn-primary">
                <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR CICLO
            </a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; NUEVO CICLO</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'admin-gestionar-ciclo' %}">
                {% csrf_token %}
                <fieldset>
                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información de Ciclo</legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group label-floating">
                                    <label class="control-label">Seleccionar Ciclo *</label>
                                    <select name="ciclo-reg" class="form-control">
                                        <option value="">- Seleccionar -</option>
                                        {% for ciclo in ciclos %}
                                            <option value="{{ ciclo.id }}">{{ ciclo.nombreCiclo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="form-group label-floating">
                                    <label class="control-label">Seleccionar Curso *</label>
                                    <select name="curso-reg" class="form-control">
                                        <option value="">- Seleccionar -</option>
                                        {% for curso in cursos %}
                                            <option value="{{ curso.id }}">{{ curso.nombreCurso }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        
                        
                        </div>
                    </div>
                </fieldset>
                <br>
                
                <p class="text-center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}

