{% extends "./base.html" %}
{% block title %} Lista Profesores {% endblock %}

{% block section %}

<div class="container-fluid">
    <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> ADMIN <small>DOCENTE</small></h1>
    </div>
    <p class="lead">Panel de Administración para listar y modificar la información de los docentes registrados. Visualiza de forma organizada todos los docentes.</p>
</div>

<div class="container-fluid">
<ul class="breadcrumb breadcrumb-tabs">
        <li>
            <a href="{{ '/admin-docente/' }}" class="btn btn-info">
                <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO DOCENTE
            </a>
        </li>
        <li>
            <a href="{{ '/lista-docente/' }}" class="btn btn-success">
                <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE DOCENTE
            </a>
        </li>
        <li>
            <a href="{{ '/buscar-docente/' }}" class="btn btn-primary">
                <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR DOCENTE
            </a>
        </li>
</ul>
</div>


<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE DOCENTES</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">DNI</th>
                            <th class="text-center">NOMBRES</th>
                            <th class="text-center">APELLIDOS</th>
                            <th class="text-center">TELÉFONO</th>
                            <th class="text-center">A. DATOS</th>
                            <th class="text-center">ELIMINAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista in listaDocente %}
                        <tr>
                            <td>{{ listaDocente.start_index|add:forloop.counter0 }}</td>
                            <td>{{lista.dni}}</td>
                            <td>{{lista.nombre}}</td>
                            <td>{{lista.apellido}}</td>
                            <td>{{lista.telefono}}</td>
                            
                            <td>
                                <a href="#!" class="btn btn-success btn-raised btn-xs">
                                    <i class="zmdi zmdi-refresh"></i>
                                </a>
                            </td>
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-danger btn-raised btn-xs">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                                <tr>
                                    <td colspan="7">No se encontraron resultados.</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">{% include "paginacion-lista-docente.html" %}</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            
        </div>
    </div>
</div>
{% endblock %}