{% extends "./base.html" %}
{% block title %} Lista Ciclos {% endblock %}

{% block section %}

<div class="container-fluid">
    <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> ADMIN <small>CICLO</small></h1>
    </div>
    <p class="lead">Panel de Administración para listar y modificar la información de los ciclos académicos registrados. Visualiza de forma organizada todos los ciclos.</p>
</div>

<div class="container-fluid">
<ul class="breadcrumb breadcrumb-tabs">
        <li>
            <a href="{{ '/admin-ciclo/' }}" class="btn btn-info">
                <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO CICLO
            </a>
        </li>
        <li>
            <a href="{{ '/lista-ciclo/' }}" class="btn btn-success">
                <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE CICLO
            </a>
        </li>
        <li>
            <a href="{{ '/buscar-ciclo/' }}" class="btn btn-primary">
                <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR CICLO
            </a>
        </li>
</ul>
</div>



<div class="container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE CICLOS</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">NOMBRE DE CICLO</th>
                            <th class="text-center">CARRERA</th>
                            <th class="text-center">EDITAR</th>
                            <th class="text-center">ELIMIAR</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista in listaCiclo %}
                        <tr>
                            <td>{{ listaCiclo.start_index|add:forloop.counter0 }}</td>
                            <td>{{lista.nombreCiclo}}</td>
                            <td>{{lista.carrera}}</td>
                            
                            <td>
                                <a href="{% url 'editar-ciclo' lista.id %}" class="btn btn-success btn-raised btn-xs">
                                    <i class="zmdi zmdi-refresh"></i> 
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar-ciclo' lista.id %}" class="btn btn-danger btn-raised btn-xs">
                                    <i class="zmdi zmdi-delete"></i> 
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                                <tr>
                                    <td colspan="5">No se encontraron resultados.</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">{% include "paginacion-lista-ciclo.html" %}</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            
        </div>
    </div>
</div>
{% endblock %}