{% extends "./base.html" %}
{% block title %} Buscar Profesores {% endblock %}

{% block section %}

<div class="container-fluid">
    <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> ADMIN <small>DOCENTE</small></h1>
    </div>
    <p class="lead">Panel de Administración para buscar a un docente específico, utiliza criterios como apellido o DNI, puedes realizar búsquedas precisas y obtener resultados relevantes. </p>
</div>

<div class="container-fluid">
    <ul class="breadcrumb breadcrumb-tabs">
            <li>
                <a href="{{ '/admin-docente/' }}" class="btn btn-info">
                    <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO DOCENTE
                </a>
            </li>
            <li>
                <a href="{{ '/lista-docente/' }}" class="btn btn-success">
                    <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE DOCENTE
                </a>
            </li>
            <li>
                <a href="{{ '/buscar-docente/' }}" class="btn btn-primary">
                    <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR DOCENTE
                </a>
            </li>
    </ul>
    </div>

<div class="container-fluid">
    <form action="{% url 'buscar-docente' %}" class="well" method="get">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="form-group label-floating">
                    <span class="control-label">¿A quién estas buscando?</span>
                    <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}">
                </div>
            </div>
            <div class="col-xs-12">
                <p class="text-center">
                    <button type="submit" class="btn btn-primary btn-raised btn-sm"><i class="zmdi zmdi-search"></i> &nbsp; Buscar</button>
                </p>
            </div>
        </div>
    </form>
</div>


<!---->
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-search"></i> &nbsp; BUSCAR DOCENTE</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">DNI</th>
                            <th class="text-center">NOMBRES</th>
                            <th class="text-center">APELLIDOS</th>
                            <th class="text-center">TELÉFONO</th>
                            <th class="text-center">EDITAR</th>
                            <th class="text-center">ELIMINAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in listabusquedaDocente %}
                        <tr>
                            <td>{{ listabusquedaDocente.start_index|add:forloop.counter0 }}</td>
                            <td>{{list.dni}}</td>
                            <td>{{list.nombre}}</td>
                            <td>{{list.apellido}}</td>
                            <td>{{list.telefono}}</td>
                            
                            <td>
                                <a href="{% url 'editar-docente' list.id %}" class="btn btn-success btn-raised btn-xs">
                                    <i class="zmdi zmdi-refresh"></i> 
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar-docente' list.id %}" class="btn btn-danger btn-raised btn-xs">
                                    <i class="zmdi zmdi-delete"></i> 
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                                <tr>
                                    <td colspan="7">No se encontraron resultados.</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">{% include "paginacion-lista-buscar-docente.html" %}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}