{% extends "./base.html" %}
{% block title %} Profesores {% endblock %}



{% block section %}
<div class="container-fluid">
    <div class="page-header">
    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> ADMIN <small>DOCENTE</small></h1>
    </div>
    <p class="lead">Panel de Administración dedicado a la gestión de docentes, podrás agregar fácilmente nuevos docentes al sistema. Registra la información relevante de cada docente de manera rápida y sencilla. </p>
</div>


<div class="container-fluid">
    <ul class="breadcrumb breadcrumb-tabs">
        <li>
            <a href="{{ '/admin-docente/' }}" class="btn btn-info" style="color: rgb(0, 0, 0);">
                <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO DOCENTE
            </a>
        </li>
        <li>
            <a href="{{ '/lista-docente/' }}" class="btn btn-success" style="color: red;">
                <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE DOCENTE
            </a>
        </li>
        <li>
            <a href="{{ '/buscar-docente/' }}" class="btn btn-primary" style="color: rgb(255, 255, 255);">
                <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR DOCENTE
            </a>
        </li>
    </ul>
</div>


<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; NUEVO DOCENTE</h3>
        </div>
        <div class="panel-body">
            <form action="/admin-docente/" method="POST">{% csrf_token %}
                <fieldset>
                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información personal</legend>
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group label-floating">
                                    <label class="control-label">DNI *</label>
                                    <input pattern="[0-9]{1,30}" class="form-control" type="text" name="dni-registro" required="" maxlength="8">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group label-floating">
                                    <label class="control-label">Nombres *</label>
                                    <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}" class="form-control" type="text" name="nombre-registro" required="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group label-floating">
                                    <label class="control-label">Apellidos *</label>
                                    <input pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}" class="form-control" type="text" name="apellido-registro" required="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group label-floating">
                                    <label class="control-label">Teléfono</label>
                                    <input pattern="[0-9+]{1,15}" class="form-control" type="text" name="telefono-registro" maxlength="15">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group label-floating">
                                    <label class="control-label">Dirección</label>
                                    <textarea name="direccion-registro" class="form-control" rows="2" maxlength="100"></textarea>
                            </div>
                        </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                
                <p class="text-center" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                </p>
            </form>

            {% if messages %}
            {% for message in messages %}
                <script>
                    Swal.fire({
                        "title": "{{ message.tags }}",
                        "text": "{{ message }}",
                        "icon": "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}",
                        "confirmButtonText": "Aceptar"
                    });
                </script>
            {% endfor %}
        {% endif %}
            {% endblock %}