<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block css %}
    {% endblock %}

</head>
<body>
	
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Matrícula <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="{% static 'assets/avatars/AdminMaleAvatar.png' %}" alt="UserIcon">

					<figcaption class="text-center text-titles">Usuario</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					
					<li>
						<a href="#!" title="Salir del sistema" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="{{ '/' }}">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{{ '/admin-docente/' }}"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Docentes</a>
						</li>
						<li>
							<a href="{{ '/admin-alumno/' }}"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Alumnos</a>
						</li>
						<li>
							<a href="{{ '/admin-curso/' }}"><i class="zmdi zmdi-labels zmdi-hc-fw"></i> Cursos</a>
						</li>
						<li>
							<a href="{{ '/admin-ciclo/' }}"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Ciclos</a>
						</li>
                        <li>
							<a href="{{ '/admin-gestionar-ciclo/' }}"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Gestionar Ciclos</a>
						</li>

					</ul>
				</li>
                <li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Matrícula <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{{ '/admin-matricula/' }}"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> Matrícula</a>
						</li>
						
					</ul>
				</li>
				
			</ul>
		</div>
	</section>

	
	<section class="full-box dashboard-contentPage">
		
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				
			</ul>
		</nav>
        {% block body %}

        {% endblock %}
		
	</section>

    

	
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/ripples.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>