{% extends "./base.html" %}
{% block title %} Inicio {% endblock %}

{% block section %}
<div class="row text-center" style="padding: 30px 10px;">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="zmdi zmdi-book-image" style="font-size: 50px;"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles" style="font-size: 30px;">CURSOS</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box" style="font-size: 40px;">{{ total_cursos }}</p>
                <p style="font-size: 30px;">Register</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <i class="zmdi zmdi-male-alt" style="font-size: 50px;"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles" style="font-size: 30px;">DOCENTES</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box" style="font-size: 40px;">{{ total_docentes }}</p>
                <p style="font-size: 30px;">Register</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="zmdi zmdi-face" style="font-size: 50px;"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles" style="font-size: 30px;">ESTUDIANTES</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box" style="font-size: 40px;">{{ total_alumnos }}</p>
                <p style="font-size: 30px;">Register</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="zmdi zmdi-account-add" style="font-size: 50px;"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles" style="font-size: 30px;">MATRICULADOS</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box" style="font-size: 40px;">{{ total_matriculados }}</p>
                <p style="font-size: 30px;">Register</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
		

    