{% extends "./base.html" %}
{% block title %} Inicio {% endblock %}


{% block section %}
<div class="row text-center" style="padding: 30px 10px;">
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="zmdi zmdi-book-image"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles">CURSOS</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box">7</p>
                <small>Register</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <i class="zmdi zmdi-male-alt"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles">DOCENTES</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box">10</p>
                <small>Register</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="zmdi zmdi-face"></i>
            </div>
            <div class="panel-body">
                <h3 class="text-titles">ESTUDIANTES</h3>
            </div>
            <div class="panel-footer text-titles">
                <p class="full-box">70</p>
                <small>Register</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
		

    