<div class=" row mt-3 justify-content-center">
    <nav>
        <ul class="pagination pagination-sm justify-content-center">
            {% if listaAlumno.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Inicio</a>

            </li>

            <li class="page-item">
                <a class="page-link text-sm" href="?page={{ listaAlumno.previous_page_number }}">&laquo;</a>

            </li>

            {% endif %}

            {% for pagina in paginas %}
                <li class="page-item{% if pagina_actual == pagina  %} active {% endif %}">
                    <a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a>

                </li>
            {% endfor %}

            {% if listaAlumno.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ listaAlumno.next_page_number }}">&raquo;</a>

            </li>

            <li class="page-item">
                <a class="page-link" href="?page={{ listaAlumno.paginator.num_pages }}">Último</a>

            </li>



            {% endif %}

        </ul>
    </nav>

</div>