{% extends "base.html" %}

{% block title %} Cerrar Sesión {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Cerrar Sesión</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">¿Estás seguro de que deseas cerrar sesión?</p>
                    <div class="text-center">
                        <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
                        <a href="{% url 'home' %}" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}